/* fallback */
/* @font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    font-weight: 100 700;
    src: url(../fonts/icons.woff2) format("woff2");
} */

/* .material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
} */

#btnWrapper input[type="checkbox"] {
    display: none;
}

/* .switch-btn {
    width: 30px;
    height: 30px;
    background-color: var(--lightMode_color);
    border-radius: 30px;
    padding: 4px;
    transition: var(--darkMode_animation);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1005;
} */

#switch-btn label {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--bgColor); */
    /* border-radius: 30px; */
    overflow: hidden;
    cursor: pointer;
    transition: var(--darkMode_animation);
}

/* svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--mainColor_focused);
}

svg.moon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--mainColor);
} */

.icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transform: translateY(1.5rem) rotate(90deg);
    user-select: none;
    color: var(--mainColor_focused);
    transition: var(--darkMode_animation);
    bottom: 0px;
    right: 0px;
    overflow-y: unset;
}

#btnWrapper input[type="checkbox"]:checked ~ #switch-btn {
    /* background-color: var(--darkMode_color); */
    transition: var(--darkMode_animation);
}

#btnWrapper input[type="checkbox"]:checked ~ #switch-btn label {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

#btnWrapper input[type="checkbox"]:checked ~ #switch-btn label .icons {
    transform: translateX(-1.5rem);
}

.btn-group {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1005;
}

.btn-icon {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid;
    border-color: var(--lightMode_color);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: var(--darkMode_animation);
}

[data-theme="dark"] .btn-icon {
    border-color: var(--darkMode_color);
}

svg.icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--mainColor_focused);
    fill: var(--mainColor_focused);
}

[data-theme="dark"] svg.icon {
    stroke: var(--mainColor);
    fill: var(--mainColor);
}
