/* General UI */
body {
    min-width: 500px;
    font-size: 100% !important;
    background-color: var(--bgColor) !important;
    scrollbar-color: var(--fontInfoColor) var(--bgColor) !important;
    /* transition: var(--darkMode_animation); */
}
::-webkit-scrollbar {
    width: var(--ui_scrollBarWidth) !important;
    background: var(--bgColor) !important;
    transition: var(--darkMode_animation);
}
::-webkit-scrollbar-thumb {
    border: 4px solid var(--bgColor);
    background-clip: padding-box;
    border-radius: 10px;
    background: var(--fontInfoColor) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* transition: var(--darkMode_animation); */
}
div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}
div::-webkit-scrollbar {
    display: none;
}
#content {
    height: 100%;
    display: block;
    overflow-x: hidden;
}
.active {
    font-weight: normal;
}
.center {
    text-align: center;
}
.uifont {
    font-family: var(--fontFamily_ui);
    color: var(--mainColor_inactive);
}
.prevent-select {
    -webkit-touch-callout : none;     /* iOS Safari */
    -webkit-user-select   : none;     /* Chrome/Safari/Opera */
    -khtml-user-select    : none;     /* Konqueror */
    -moz-user-select      : none;     /* Firefox */
    -ms-user-select       : none;     /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}
/* 
Credit: https://stackoverflow.com/questions/64997928/how-to-offset-a-anchor-link-to-clear-fixed-header
To Offset the anchor link to clear fixed header
 */
:target:before {
    content: "";
    display: block;
    height: var(--ui_anchorTargetBefore);
    margin: calc(-1*var(--ui_anchorTargetBefore)) 0 0;
}


/* Drop Zone */
#dropZone {
    background: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: show;
    border: 0.5em dashed;
    border-color: var(--mainColor_inactive);
    border-radius: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* transition: var(--darkMode_animation); */
}
#dropZoneText {
    visibility: show;
    z-index: 1000;
    position: absolute;
    top: var(--ui_dropZoneTextTop);
    left: var(--ui_dropZoneTextLeft);
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    margin: auto;
    font-size: var(--ui_dropZoneTextSize);
    color: var(--fontInfoColor);
}
#dropZoneImg {
    visibility: show;
    z-index: 1000;
    position: absolute;
    top: var(--ui_dropZoneImgTop);
    left: var(--ui_dropZoneImgLeft);
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    margin: auto;
    width: var(--ui_dropZoneImgSize);
    height: var(--ui_dropZoneImgSize);
    /* convert to var(--mainColor_active) */
    /* filter: var(--mainColor_active_filter); */
    /* convert to var(--mainColor_inactive) */
    /* filter: var(--mainColor_inactive_filter); */
    /* convert to var(--fontInfoColor) */
    filter: var(--toGray_filter);
}


/* Loading screen */
#loading {
    background: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: hidden;
}
#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--ui_loadingImgSize);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /* filter: var(--mainColor_inactive_filter); */
    filter: var(--toGray_filter);
}


/* Pagination */
#pagination {
    opacity: var(--ui_paginationOpacity);
    position: fixed;
    bottom: var(--ui_paginationBottom);
    background-color: var(--bgColor);
    border: 1px dashed var(--borderColor);
    border-radius: 8px;
    box-shadow: 0 1px 1px var(--shadowColor), 
              0 2px 2px var(--shadowColor), 
              0 4px 4px var(--shadowColor), 
              0 8px 8px var(--shadowColor),
              0 16px 16px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 1px 1px, 
    var(--shadowColor) 0 2px 2px, 
    var(--shadowColor) 0 4px 4px, 
    var(--shadowColor) 0 8px 8px,
    var(--shadowColor) 0 16px 16px;
    -moz-box-shadow: 0 1px 1px var(--shadowColor), 
    0 2px 2px var(--shadowColor), 
    0 4px 4px var(--shadowColor), 
    0 8px 8px var(--shadowColor),
    0 16px 16px var(--shadowColor);
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    font-size: 0.9em;
}
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    color: var(--paginationFontColor);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: var(--mainColor_active);
    color: var(--paginationActiveFontColor);
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: var(--mainColor_inactive);
    color: var(--paginationActiveFontColor);
    border-radius: 5px;
}
#pagination:hover {
    opacity: 1;
}
.jumpInput {
    color: var(--paginationFontColor);
    font-family: var(--fontFamily_ui);
    border: 0;
    outline:0;
    background-color: var(--bgColor) !important;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}


/* TOC */
#tocWrapper {
    position: relative;
    /* width: 16%; */
    /* height: 50%; */
}
#tocContent {
    /* border: var(--mainColor_active) solid 1px; */
    /* width: 16%; */
    /* height: 50%; */
    /* margin: 0 0 0 3%; */
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    line-height: 1em;
    font-size: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    font-family:var(--fontFamily_title);
    z-index: 100;
}
/* Credit: https://stackoverflow.com/questions/3874602/elements-to-look-like-a-bullet-point-list-inside-an-anchor-link */
.toc-bullet {
    background-color: var(--fontInfoColor);
    border-radius: 1em;
    content: " ";
    display: inline-block;
    /* margin-right: 6px; */
    width: 0.9em;
    height: 0.3em;
    visibility: visible !important;
    opacity: 1 !important;
    margin-bottom: 1.6em;
}
.toc-text {
    display: inline-block;
    width: calc(100% - 0.9em - 1em);      /* 100% - width of .toc-bullet - margin-left of <a>*/
    transition: visibility 5s, opacity 1s;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* Credit: https://www.taccgl.org/blog/css-transition-visibility.html */
#tocContent:hover > .toc-text {
    visibility: visible;
    opacity: 1;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
a.title, a.title:link, a.title:visited {
    color: var(--mainColor_active);
}
a.toc-text, a.toc-text:link, a.toc-text:visited {
    color: var(--fontInfoColor);
    margin: 0.3em 0 1.3em 1em;
}
a.toc-text:hover:not(.active) {
    color: var(--mainColor_inactive);
}
a.toc-text:active {
    color: var(--mainColor_active);
}
a.toc-active {
    font-weight: bold;
    color: var(--mainColor_active) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.toc-bullet.toc-active {
    background-color: var(--mainColor_active) !important;
}
a.toc-active::before {
    background-color: var(--mainColor_active) !important;
}


/* Progress */
#progress {
    position: fixed;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width: 16%; */
    height: 3.6em;
    line-height: 2em;
    /* margin: 0 0 0 3%; */
    color: var(--fontInfoColor);
    /* top: 75%; */
    font-size: 0.8em;
    z-index: 101;
}


/* Footnote */
img.footnote_img {
    content: var(--footnote_img_url);
    width: var(--ui_footnoteImgSize);
    height: var(--ui_footnoteImgSize);
    vertical-align: super;
}
ol#footnote-content {
    visibility: hidden;
    display: none;
}


/* Seal */
div.seal {
    margin: 6em 0 6em 0;
    overflow: hidden;
}
img#seal_front {
    content: var(--seal_url);
    width: var(--seal_width);
    height: auto;
    left: calc(var(--seal_left) * (100% - var(--seal_width)));
    transform: rotate(var(--seal_rotate));
    position: relative;
}
img#seal_end {
    content: var(--seal_url);
    width: calc(var(--seal_width) / 2);
    height: auto;
    left: calc(100% - var(--seal_width) / 2);
    position: relative;
}


/* Settings dialog */
dialog {
    border-radius: 8px;
    padding: 0px;
    font-family: ui;
    font-size: 1.2rem;
    background-color: var(--bgColor);
    color: var(--mainColor_active);
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    box-shadow: 0 0 5px var(--mainColor_inactive);
    -webkit-box-shadow: var(--mainColor_inactive) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--mainColor_inactive);
    border: 0px;
}
.dlg-cap {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-family: ui;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid var(--borderColor);
}
.dlg-close {
    display: inline-block;
    position: absolute;
    top: 0.6rem;
    right: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    border-radius: 5px;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.4rem;
}
.dlg-foot {
    padding: 1rem 1rem;
    border-top: 2px solid var(--borderColor);
}
.dlg-foot button {
    font-family: ui;
    padding: 2px 10px;
    border: 1px solid var(--mainColor_active);
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    cursor: pointer;
}
.dlg-body {
    display: block;
    flex: 1;
    margin: 0.2rem 1rem 1rem 1rem;
    /* overflow-y: scroll; */
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
}
.dlg-body input,
.dlg-body select {
    margin: 1px;
    border: 1px solid var(--mainColor_active);
    font-family: ui;
    font-size: 1.2rem;
    color: var(--mainColor_active);
    background-color: var(--bgColor);
}
.dlg-body input[type="checkbox"] {
   width: 1rem;
   height: 1rem;
}
input:invalid {
    background-color: pink;
}
#settingDlg .sub-cap {
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    margin: 1rem 0;
    text-align: center;
}
#settingDlg .setting-group {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: max-content 1fr;
}
#settingDlg .setting-group .row {
    grid-column: 1 / -1;
}
#settingDlg .setting-group-UI {
    /* grid-template-columns: repeat(2, max-content 1fr); */
}
dialog::backdrop {
    backdrop-filter: blur(5px);
}


/* Settings menu */
#settings-menu {
    font-size: var(--ui_settingMenuFontSize);
    position: fixed;
    right: calc(var(--ui_btnGap) + var(--ui_scrollBarWidth) + var(--ui_btnOffset));
    bottom: calc(2 * (var(--ui_btnGap) + var(--ui_btnSize)));
    z-index: 1004;
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 5px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--shadowColor);
    font-family: var(--fontFamily_ui) !important;
    color: var(--mainColor_active) !important;
    visibility: hidden;
}
.settingItem-wrapper {
    padding: 10px 0px;
    overflow-y: unset !important;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}
.settingItem-span {
    display: inline-block;
    width: var(--ui_settingMenuWidth);
    cursor: default;
}
.color-picker {
    background-color: var(--bgColor) !important;
    border: 1px solid var(--borderColor) !important;
    border-radius: 8px !important;
    box-shadow: 0 0 5px var(--shadowColor) !important;
    -webkit-box-shadow: var(--shadowColor) 0 0 5px !important;
    -moz-box-shadow: 0 0 5px var(--shadowColor) !important;
}
.color-picker__alpha.range {
    /* disable color picker's alpha channel input */
    display: none !important;
}
.myColor {
    width: var(--ui_settingContentWidth);
    height: var(--ui_settingContentHeight);
    border: 1px solid var(--borderColor) !important;
}
.myColor:hover {
    box-shadow: 0 0 1px 1px var(--shadowColor) !important;
}
input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
    border: 1px solid var(--borderColor) !important;
    border-radius: 5px !important;
    /* border: none;
    border-color: transparent !important; */
    padding: 0 !important;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    border: 1px solid var(--borderColor) !important;
    border-radius: 5px !important;
    /* border: none;
    border-color: transparent !important; */
    padding: 0 !important;
}
input[type="color"] {
    background-color: var(--bgColor) !important;
    width: var(--ui_settingContentWidth);
    height: var(--ui_settingContentHeight);
    border: none;
    border-color: transparent !important;
    padding: 0 !important;
}
input[type="color"]:hover,
input[type="color"]:focus {
    /* box-shadow: 0 0 1px 1px var(--shadowColor) !important; */
    cursor: grab;
    outline:none;
}
input[type="color"]:not(:hover) {
    cursor: initial;
}
#setting-reset-btn {
    font-size: 0.8em;
    font-family: var(--fontFamily_ui) !important;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    border: 1px solid var(--mainColor_active);
    border-radius: 8px;
    padding: 5px 20px;
    margin-top: 20px;
    cursor: pointer
}
#setting-reset-btn:hover {
    background-color: var(--mainColor_inactive);
    border: 1px solid var(--mainColor_inactive);
}
.select {
    overflow-y: unset;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* font-size: var(--ui_settingMenuFontSize); */
    color:  var(--mainColor_active);
    width:  var(--ui_settingContentWidth);
    height: calc(var(--ui_settingContentHeight) * 1.2);
}
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}
.select-styled {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bgColor);
    transition: all 0.2s ease-in;
    vertical-align: top;
    /* font-size: var(--ui_settingMenuFontSize); */
}
.select-styled:after {
    content:"";
    width: 0;
    height: 0;
    border: 0.4em solid transparent;
    border-color: var(--mainColor_active) transparent transparent transparent;
    position: absolute;
    top: 0.4em;
    right: 0px;
    transition: all 0.15s ease;
}
.select-styled:hover {
    background-color: color-mix(in srgb,var(--bgColor),#000 0%);
}
.select-styled:active, .select-styled.active {
    background-color: color-mix(in srgb,var(--bgColor),#000 0%);
}
.select-styled:active:after, .select-styled.active:after {
    top: 0em;
    border-color: transparent transparent var(--mainColor_active) transparent;
    transition: all 0.15s ease;
}
.select-options {
    display: none; 
    position: absolute;
    top: 120%;
    right: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: color-mix(in srgb,var(--bgColor),#000 0%);
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 5px var(--shadowColor);
    border-radius: 5px;
    -webkit-box-shadow: var(--shadowColor) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--shadowColor);
}
.select-options li {
    margin: 0;
    padding: 10px 0;
    /* text-indent: 15px; */
    background-color: color-mix(in srgb,var(--bgColor),#000 0%);
    transition: all 0.15s ease-in;
    border-radius: 5px;
    text-align: center;
}
.select-options li:hover,
.select-options li .is-selected {
    color: var(--bgColor);
    background: var(--mainColor_active);
}
.select-options li[rel="hide"] {
    display: none;
}


/* Book Shelf */
.bookshelf {
    position: absolute;
    /* top: var(--ui_bookShelfTop); */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: var(--bgColor);
    color: var(--fontColor);
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: max-content 1fr;
    /* border-top: 0.5em dashed var(--mainColor_inactive); */
    border-top: 2px dashed var(--borderColor);
    z-index: 2000;
}
.bookshelf .booklist-scroll-btns {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(var(--ui_windowLeftRightMargin) * 1%);
    background-color: var(--bgColor);
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    z-index: 1;
}
.bookshelf .booklist-scroll-btns #scrollBottom-btn {
    z-index: 1;
}
.bookshelf .title {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-family: var(--fontFamily_title);
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid var(--borderColor);
    display: none;
}
.bookshelf .sub-title {
    color: var(--fontInfoColor);
    font-size: 1rem;
    font-family: var(--fontFamily_ui);
    text-align: center;
}
.bookshelf .booklist {
    overflow-y: auto;
    text-align: center;
    margin: 2px calc(var(--ui_windowLeftRightMargin) * 1% + 2rem); /* 避开 btn-group */
    padding: var(--ui_booklist_padding) 0;
    /* border-top: 2px dashed var(--borderColor); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bookshelf .book {
    display: inline-grid;
    grid-template-rows: max-content 1fr;
    font-family: var(--fontFamily_ui);
    font-size: 1.2rem;
    width: var(--ui_bookCoverWidth);
    height: var(--ui_bookContainerHeight);
    color: var(--fontColor);
    margin: 2.5vw;
    overflow: visible;
}
/* .bookshelf .book:hover > .infoContainer .dot-menu__label {
    visibility: visible;
} */
.bookshelf .book .coverContainer {
    position: relative;
    width: var(--ui_bookCoverWidth);
    height: var(--ui_bookCoverHeight);
    font-family: var(--fontFamily_ui);
    text-align: left;
    background-color: var(--bgColor);
    cursor: pointer;
    /* box-shadow: 5px 5px 10px -5px black, 5px 10px 14px -3px rgba(0,0,0,0.5), inset -5px -5px 10px black; */
    /* box-shadow: 5px 5px 10px -5px black, inset -5px -5px 10px black; */
    box-shadow: var(--ui_bookshadow);
    /* filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.4)); */
    margin: auto;
    overflow: visible;
    border-radius: 3px 5px 5px 3px;
    -moz-border-radius: 3px 5px 5px 3px;
    -webkit-border-radius: 3px 5px 5px 3px;
    z-index: 1;
}
.bookshelf .book .coverContainer::after {
    /* the book bend */
    content: '';
    position: absolute;
    top: 0;
    width: var(--ui_bookCoverWidth);
    height: var(--ui_bookCoverHeight);
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, transparent 2%, rgba(0,0,0,0.1) 3%, rgba(0,0,0,0.1) 4%, transparent 5%), linear-gradient(-50deg, rgba(0,0,0,0.1) 20%, transparent 100%), linear-gradient(-50deg, rgba(0,0,0,0.2) 20%, transparent 100%), linear-gradient(to bottom, rgba(0,0,0,0.1) 20%, transparent 100%), linear-gradient(to bottom, rgba(0,0,0,0.1) 20%, transparent 100%);
    background-size: 100% 100%, 2% 20%, 1% 20%, 2% 20%, 1% 20%;
    background-position: 0 0, 2.2% 100%, 3% 100%, 2.2% 0, 3% 0;
    
    /* another implementation - not as good */
    /* content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4); */
}
.bookshelf .book .coverContainer .coverCanvas, .coverText {
    position: absolute;
    overflow: hidden;
    width: var(--ui_bookCoverWidth);
    height: var(--ui_bookCoverHeight);
    border-radius: 3px 5px 5px 3px;
    -moz-border-radius: 3px 5px 5px 3px;
    -webkit-border-radius: 3px 5px 5px 3px;
}
.bookshelf .book .bookInfoMenuBtn {
    position: absolute;
    width: 30px;
    height: 0.8rem;
    right: 0px;
}
.bookshelf .book .bookInfoMenuBtn .dot-menu__label {
    cursor: pointer;
    width: 30px;
    height: 0.8rem;
    background-color: var(--bgColor);
    /* background-color: rgb(0 0 0 / 0.4); */
    display: block;
    text-indent: 0em;
    position: absolute;
    right: 0px;
    top: -1px;
}
.bookshelf .book .bookInfoMenuBtn .dot-menu__label::before, .bookshelf .book .dot-menu__label::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--fontInfoColor);
    transition: 0.2s;
    top: calc((100% - 3px)/2);
    transition: 0.2s;
}
.bookshelf .book .bookInfoMenuBtn .dot-menu__label:after {
    right: 5px;
}
.bookshelf .book .bookInfoMenuBtn .dot-menu__label:before {
    right: 17px;
}
.bookshelf .book .bookInfoMenuBtn .dot-menu__label span:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--fontInfoColor);
    transition: 0.2s;
    right: 11px;
    top: calc((100% - 3px)/2);
}
.bookshelf .book .bookInfoMenuBtn .dot-menu__checkbox {
    display: none;
}
.bookInfoMenu {
    font-size: var(--ui_settingMenuFontSize);
    position: fixed;
    z-index: 1004;
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 0 5px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--shadowColor);
    font-family: var(--fontFamily_ui) !important;
    color: var(--mainColor_active) !important;
    overflow: unset;
}
.bookInfoMenu::before {
    content:'';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background: var(--bgColor);
    transform: rotate(135deg);
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 5px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--shadowColor);
    font-family: var(--fontFamily_ui) !important;
    color: var(--mainColor_active) !important;
    overflow: unset;
}
.bookInfoMenu-clip {
    position: absolute;
    bottom: 0;
    background: inherit;
    height: 35px;
    left: 0;
    right: 0;
    border-radius: 8px;
    z-index: 1;
}
.bookInfoMenu_item {
    display: flex;
    padding: 7px 0;
    text-align: left;
}
.bookInfoMenu_item_text {
    display: inline-block;
    width: 6.5rem;
    color: var(--fontInfoColor);
    font-size: 1rem;
    z-index: 2;
}
.bookInfoMenu_item_info {
    display: inline-block;
    width: 8rem;
    color: var(--mainColor_active);
    font-size: 1rem;
    /* overflow: overlay; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-height: 10rem;
    overflow-y: overlay;
    z-index: 2;
}
/* .bookshelf .book .progress {
    margin-top: 1px;
    background-color: var(--bgColor);
}
.bookshelf .book.read .progress {
    background-image: linear-gradient(to right, var(--mainColor_inactive) var(--read-progress), transparent 0);
} */
.bookshelf .book .progress {
    color: var(--fontInfoColor);
    font-size: 0.8rem;
    font-family: var(--fontFamily_ui);
    text-align: left;
    background-color: var(--bgColor);
    /* margin-top: 1px; */
    /* padding-left: 10px; */
    /* display: inline; */
    left: 5px;
    position: absolute;
}
.bookshelf .book .infoContainer {
    text-align: justify;
    position: relative;
    display: flex;
    align-items: end;
}
.bookshelf .book .infoContainer:hover > .delete-btn-wrapper {
    /* visibility: visible; */
    opacity: 1;
    transition: 0.2s;
}
.bookshelf .book .coverContainer .bookFinished_badge {
    top: -7px;
    right: -7px;
    position: absolute;
    z-index: 1;
}
.bookshelf .book .coverContainer .bookFinished_badge svg {
    height: 2.75em;
    width: 2.75em;
    /* fill: #eb620d; */
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}
.bookshelf .book .infoContainer .progress .read_text {
    position: relative;
    bottom: -4px;
}
.bookshelf .book .infoContainer .progress .read_text svg {
    vertical-align: middle;
    fill: var(--fontInfoColor);
    padding-right: 2px;
    width: 16px;
    height: 20px;
}
.bookshelf .book .coverContainer .bookNotRead_badge {
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 1;
}
.bookshelf .book .coverContainer .bookNotRead_badge svg {
    height: 5em;
    width: 5em;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}
.bookshelf .book .infoContainer .progress .notRead_text {
    background: var(--mainColor_inactive);
    color: var(--bgColor);
    border-radius: 3px;
    padding: 0 6px;
}
.bookshelf .book .delete-btn-wrapper {
    font-size: 0.9rem;
    font-family: var(--fontFamily_ui);
    text-align: right;
    position: absolute;
    right: 28px;
    top: 12px;
    z-index: 5;
    /* visibility: hidden; */
    opacity: 0;
    transition: 0.2s;
}
.bookshelf .book .delete-btn {
    font-family: var(--fontFamily_ui);
    position:relative;
    display: block;
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
    /* padding: 6px 8px; */
    z-index: 2;
    color: var(--fontInfoColor);
    width: 1.25rem;
    height: 1.25rem;
}

.bookshelf .book .delete-btn svg {
    /* fill: var(--fontInfoColor); */
    stroke: var(--fontInfoColor);
    height: 1.2rem;
    width: 1.2rem;
}