/* General UI */
body {
    min-width: 500px;
    font-size: 100% !important;
    background-color: var(--bgColor) !important;
    scrollbar-color: var(--fontInfoColor) var(--bgColor) !important;
    /* transition: var(--darkMode_animation); */
}
::-webkit-scrollbar {
    width: 14px;
    background: var(--bgColor) !important;
    transition: var(--darkMode_animation);
}
::-webkit-scrollbar-thumb {
    border: 4px solid var(--bgColor);
    background-clip: padding-box;
    border-radius: 10px;
    background: var(--fontInfoColor) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* transition: var(--darkMode_animation); */
}
div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}
div::-webkit-scrollbar {
    display: none;
}
#content {
    /* width: 75%; */
    height: 100%;
    /* margin: 0 0 0 22%; */
    display: block;
    overflow-x: hidden;
}
.active {
    font-weight: normal;
}
.center {
    text-align: center;
}
.uifont {
    font-family: var(--fontFamily_ui);
    color: var(--mainColor_inactive);
}
.prevent-select {
    -webkit-touch-callout : none;     /* iOS Safari */
    -webkit-user-select   : none;     /* Chrome/Safari/Opera */
    -khtml-user-select    : none;     /* Konqueror */
    -moz-user-select      : none;     /* Firefox */
    -ms-user-select       : none;     /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}
/* 
Credit: https://stackoverflow.com/questions/64997928/how-to-offset-a-anchor-link-to-clear-fixed-header
To Offset the anchor link to clear fixed header
 */
:target:before {
    content: "";
    display: block;
    height: var(--ui_anchorTargetBefore);
    margin: calc(-1*var(--ui_anchorTargetBefore)) 0 0;
}


/* Drop Zone */
#dropZone {
    background: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: show;
    border: 0.5em dashed var(--mainColor_inactive);
    border-radius: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* transition: var(--darkMode_animation); */
}
#dropZoneText {
    visibility: show;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    margin: auto;
    font-size: 5em;
    color: var(--fontInfoColor);
}
#dropZoneImg {
    visibility: show;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    margin: auto;
    width: var(--ui_dropZoneImgSize);
    height: var(--ui_dropZoneImgSize);
    /* convert to var(--mainColor_active) */
    /* filter: var(--mainColor_active_filter); */
    /* convert to var(--mainColor_inactive) */
    /* filter: var(--mainColor_inactive_filter); */
    /* convert to var(--fontInfoColor) */
    filter: var(--toGray_filter);
}


/* Loading screen */
#loading {
    background: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: hidden;
}
#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--ui_loadingImgSize);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /* filter: var(--mainColor_inactive_filter); */
    filter: var(--toGray_filter);
}


/* Pagination */
#pagination {
    opacity: var(--ui_paginationOpacity);
    position: fixed;
    bottom: var(--ui_paginationBottom);
    background-color: var(--bgColor);
    border: 1px dashed var(--borderColor);
    border-radius: 8px;
    box-shadow: 0 1px 1px var(--shadowColor), 
              0 2px 2px var(--shadowColor), 
              0 4px 4px var(--shadowColor), 
              0 8px 8px var(--shadowColor),
              0 16px 16px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 1px 1px, 
    var(--shadowColor) 0 2px 2px, 
    var(--shadowColor) 0 4px 4px, 
    var(--shadowColor) 0 8px 8px,
    var(--shadowColor) 0 16px 16px;
    -moz-box-shadow: 0 1px 1px var(--shadowColor), 
    0 2px 2px var(--shadowColor), 
    0 4px 4px var(--shadowColor), 
    0 8px 8px var(--shadowColor),
    0 16px 16px var(--shadowColor);
    /* display: none; */
    /* left: 61%; */
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    font-size: 0.9em;
}
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    color: var(--paginationFontColor);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: var(--mainColor_active);
    color: var(--paginationActiveFontColor);
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: var(--mainColor_inactive);
    color: var(--paginationActiveFontColor);
    border-radius: 5px;
}
#pagination:hover {
    opacity: 1;
}
.jumpInput {
    color: black;
    border:0;
    /* outline:0; */
    background-color: var(--bgColor) !important;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}


/* TOC */
#tocWrapper {
    position: relative;
    /* width: 16%; */
    /* height: 50%; */
}
#tocContent {
    /* border: var(--mainColor_active) solid 1px; */
    /* width: 16%; */
    /* height: 50%; */
    /* margin: 0 0 0 3%; */
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    line-height: 1em;
    font-size: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    font-family:var(--fontFamily_title);
    z-index: 100;
}
/* Credit: https://stackoverflow.com/questions/3874602/elements-to-look-like-a-bullet-point-list-inside-an-anchor-link */
.toc-bullet {
    background-color: var(--fontInfoColor);
    border-radius: 1em;
    content: " ";
    display: inline-block;
    /* margin-right: 6px; */
    width: 0.9em;
    height: 0.3em;
    visibility: visible !important;
    opacity: 1 !important;
    margin-bottom: 1.6em;
}
.toc-text {
    display: inline-block;
    width: calc(100% - 0.9em - 1em);      /* 100% - width of .toc-bullet - margin-left of <a>*/
    transition: visibility 5s, opacity 1s;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* Credit: https://www.taccgl.org/blog/css-transition-visibility.html */
#tocContent:hover > .toc-text {
    visibility: visible;
    opacity: 1;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
a.title, a.title:link, a.title:visited {
    color: var(--mainColor_active);
}
a.toc-text, a.toc-text:link, a.toc-text:visited {
    color: var(--fontInfoColor);
    margin: 0.3em 0 1.3em 1em;
}
a.toc-text:hover:not(.active) {
    color: var(--mainColor_inactive);
}
a.toc-text:active {
    color: var(--mainColor_active);
}
a.toc-active {
    font-weight: bold;
    color: var(--mainColor_active) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.toc-bullet.toc-active {
    background-color: var(--mainColor_active) !important;
}
a.toc-active::before {
    background-color: var(--mainColor_active) !important;
}


/* Progress */
#progress {
    position: fixed;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width: 16%; */
    height: 3.6em;
    line-height: 2em;
    /* margin: 0 0 0 3%; */
    color: var(--fontInfoColor);
    /* top: 75%; */
    font-size: 0.8em;
    z-index: 101;
}


/* Footnote */
img.footnote_img {
    width: var(--ui_footnoteImgSize);
    height: var(--ui_footnoteImgSize);
    vertical-align: super;
}
ol#footnote-content {
    visibility: hidden;
    display: none;
}


/* Seal */
div.seal {
    /* text-align: center; */
    margin: 6em 0 6em 0;
    overflow: hidden;
}
img#seal_EN {
    /* float: right; */
    width: var(--seal_width_EN);
    height: auto;
    position: relative;
}
img#seal_CN {
    /* float: center; */
    width: var(--seal_width_CN);
    height: auto;
    position: relative;
}


/* Settings dialog */
dialog {
    border-radius: 8px;
    padding: 0px;
    font-family: ui;
    font-size: 1.2rem;
    background-color: var(--bgColor);
    color: var(--mainColor_active);
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    /* box-shadow: 0px 0px 10px black; */
    box-shadow: 0 0 5px var(--mainColor_inactive);
    -webkit-box-shadow: var(--mainColor_inactive) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--mainColor_inactive);
    border: 0px;
}

.dlg-cap {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-family: ui;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid var(--borderColor);
}

.dlg-close {
    display: inline-block;
    position: absolute;
    top: 0.6rem;
    right: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    border-radius: 5px;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.4rem;
}

.dlg-foot {
    padding: 1rem 1rem;
    border-top: 2px solid var(--borderColor);
}

.dlg-foot button {
    font-family: ui;
    padding: 2px 10px;
    border: 1px solid var(--mainColor_active);
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    cursor: pointer;
}

.dlg-body {
    display: block;
    flex: 1;
    margin: 0.2rem 1rem 1rem 1rem;
    /* overflow-y: scroll; */
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
}

.dlg-body input,
.dlg-body select {
    margin: 1px;
    border: 1px solid var(--mainColor_active);
    font-family: ui;
    font-size: 1.2rem;
    color: var(--mainColor_active);
    background-color: var(--bgColor);
}

.dlg-body input[type="checkbox"] {
   width: 1rem;
   height: 1rem;
}

input:invalid {
    background-color: pink;
}

#settingDlg .sub-cap {
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    margin: 1rem 0;
    /* padding: 0.2rem 1rem; */
    text-align: center;
}

#settingDlg .setting-group {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: max-content 1fr;
}

#settingDlg .setting-group .row {
    grid-column: 1 / -1;
}

#settingDlg .setting-group-UI {
    /* grid-template-columns: repeat(2, max-content 1fr); */
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}


/* Settings menu */
#settings-menu {
    font-size: 1.2em;
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 1004;
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 5px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--shadowColor);
    font-family: var(--fontFamily_ui) !important;
    color: var(--mainColor_active) !important;
    visibility: hidden;
}

.settingItem-wrapper {
    padding: 10px 0px;
    overflow-y: unset !important;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

.settingItem-span {
    display: inline-block;
    width: 12rem;
    cursor: default;
}

.color-picker {
    background-color: var(--bgColor) !important;
    border: 1px solid var(--borderColor) !important;
    border-radius: 8px !important;
    box-shadow: 0 0 5px var(--shadowColor) !important;
    -webkit-box-shadow: var(--shadowColor) 0 0 5px !important;
    -moz-box-shadow: 0 0 5px var(--shadowColor) !important;
}

.myColor {
    width: 200px;
    height: 20px;
    border: 1px solid var(--borderColor) !important;
}

.myColor:hover {
    box-shadow: 0 0 1px 1px var(--shadowColor) !important;
}

input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
    border: 1px solid var(--borderColor) !important;
    border-radius: 5px !important;
    /* border: none;
    border-color: transparent !important; */
    padding: 0 !important;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    border: 1px solid var(--borderColor) !important;
    border-radius: 5px !important;
    /* border: none;
    border-color: transparent !important; */
    padding: 0 !important;
}

input[type="color"] {
    background-color: var(--bgColor) !important;
    width: 200px;
    height: 20px;
    border: none;
    border-color: transparentred !important;
    padding: 0 !important;
}

input[type="color"]:hover,
input[type="color"]:focus {
    /* box-shadow: 0 0 1px 1px var(--shadowColor) !important; */
    cursor: grab;
    outline:none;
}

input[type="color"]:not(:hover) {
    cursor: initial;
}

#setting-reset-btn {
    font-size: 0.8em;
    font-family: var(--fontFamily_ui) !important;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    border: 1px solid var(--mainColor_active);
    border-radius: 8px;
    padding: 5px 20px;
    margin-top: 20px;
    cursor: pointer
}

#setting-reset-btn:hover {
    background-color: var(--mainColor_inactive);
    border: 1px solid var(--mainColor_inactive);
}