/* General UI */
body {
    font-size: 100% !important;
    background-color: var(--bgColor) !important;
    scrollbar-color: var(--fontInfoColor) var(--bgColor) !important;
}
::-webkit-scrollbar {
    width: 14px;
    background: var(--bgColor) !important;
}
::-webkit-scrollbar-thumb {
    border: 4px solid var(--bgColor);
    background-clip: padding-box;
    border-radius: 10px;
    background: var(--fontInfoColor) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}
div::-webkit-scrollbar {
    display: none;
}
#content {
    /* width: 75%; */
    height: 100%;
    /* margin: 0 0 0 22%; */
    display: block;
    overflow-x: hidden;
}
.active {
    font-weight: normal;
}
.center {
    text-align: center;
}
.uifont {
    font-family: var(--fontFamily_ui);
    color: var(--mainColor);
}
.prevent-select {
    -webkit-touch-callout : none;     /* iOS Safari */
    -webkit-user-select   : none;     /* Chrome/Safari/Opera */
    -khtml-user-select    : none;     /* Konqueror */
    -moz-user-select      : none;     /* Firefox */
    -ms-user-select       : none;     /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}
/* 
Credit: https://stackoverflow.com/questions/64997928/how-to-offset-a-anchor-link-to-clear-fixed-header
To Offset the anchor link to clear fixed header
 */
:target:before {
    content: "";
    display: block;
    height: var(--ui_anchorTargetBefore);
    margin: calc(-1*var(--ui_anchorTargetBefore)) 0 0;
}


/* Drop Zone */
#dropZone {
    background: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: show;
    border: 0.5em dashed var(--mainColor);
    border-radius: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#dropZoneText {
    visibility: show;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    margin: auto;
    font-size: 5em;
}
#dropZoneImg {
    visibility: show;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    margin: auto;
    width: var(--ui_dropZoneImgSize);
    height: var(--ui_dropZoneImgSize);
    /* convert to var(--mainColor_focused) */
    /* filter: var(--mainColor_focused_filter); */
    /* convert to var(--mainColor) */
    filter: var(--mainColor_filter);
}


/* Loading screen */
#loading {
    background: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: hidden;
}
#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--ui_loadingImgSize);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    filter: var(--mainColor_filter);
}


/* Pagination */
#pagination {
    position: fixed;
    bottom: 30px;
    background-color: var(--bgColor);
    border: 1px dashed var(--borderColor);
    border-radius: 8px;
    box-shadow: 0 1px 1px var(--shadowColor), 
              0 2px 2px var(--shadowColor), 
              0 4px 4px var(--shadowColor), 
              0 8px 8px var(--shadowColor),
              0 16px 16px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 1px 1px, 
    var(--shadowColor) 0 2px 2px, 
    var(--shadowColor) 0 4px 4px, 
    var(--shadowColor) 0 8px 8px,
    var(--shadowColor) 0 16px 16px;
    -moz-box-shadow: 0 1px 1px var(--shadowColor), 
    0 2px 2px var(--shadowColor), 
    0 4px 4px var(--shadowColor), 
    0 8px 8px var(--shadowColor),
    0 16px 16px var(--shadowColor);
    /* display: none; */
    /* left: 61%; */
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    font-size: 0.9em;
}
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    color: var(--paginationFontColor);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: var(--mainColor_focused);
    color: var(--paginationActiveFontColor);
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: var(--mainColor);
    color: var(--paginationActiveFontColor);
    border-radius: 5px;
}
.jumpInput {
    color: black;
    border:0;
    /* outline:0; */
    background-color: var(--bgColor) !important;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}


/* TOC */
#tocWrapper {
    position: relative;
    /* width: 16%; */
    /* height: 50%; */
}
#tocContent {
    /* border: var(--mainColor_focused) solid 1px; */
    /* width: 16%; */
    /* height: 50%; */
    /* margin: 0 0 0 3%; */
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    line-height: 1em;
    font-size: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    font-family:var(--fontFamily_title);
    z-index: 100;
}
/* Credit: https://stackoverflow.com/questions/3874602/elements-to-look-like-a-bullet-point-list-inside-an-anchor-link */
.toc-bullet {
    background-color: var(--fontInfoColor);
    border-radius: 1em;
    content: " ";
    display: inline-block;
    /* margin-right: 6px; */
    width: 0.9em;
    height: 0.3em;
    visibility: visible !important;
    opacity: 1 !important;
    margin-bottom: 1.6em;
}
.toc-text {
    display: inline-block;
    width: calc(100% - 0.9em - 1em);      /* 100% - width of .toc-bullet - margin-left of <a>*/
    transition: visibility 5s, opacity 1s;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* Credit: https://www.taccgl.org/blog/css-transition-visibility.html */
#tocContent:hover > .toc-text {
    visibility: visible;
    opacity: 1;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
a.title, a.title:link, a.title:visited {
    color: var(--mainColor_focused);
}
a.toc-text, a.toc-text:link, a.toc-text:visited {
    color: var(--fontInfoColor);
    margin: 0.3em 0 1.3em 1em;
}
a.toc-text:hover:not(.active) {
    color: var(--mainColor);
}
a.toc-text:active {
    color: var(--mainColor_focused);
}
a.toc-active {
    font-weight: bold;
    color: var(--mainColor_focused) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.toc-bullet.toc-active {
    background-color: var(--mainColor_focused) !important;
}
a.toc-active::before {
    background-color: var(--mainColor_focused) !important;
}


/* Progress */
#progress {
    position: fixed;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width: 16%; */
    height: 3.6em;
    line-height: 2em;
    /* margin: 0 0 0 3%; */
    color: var(--fontInfoColor);
    /* top: 75%; */
    font-size: 0.8em;
    z-index: 101;
}


/* Footnote */
img.footnote_img {
    width: var(--ui_footnoteImgSize);
    height: var(--ui_footnoteImgSize);
    vertical-align: super;
}
ol#footnote-content {
    visibility: hidden;
    display: none;
}


/* Seal */
div.seal {
    /* text-align: center; */
    margin: 6em 0 6em 0;
    overflow: hidden;
}
img#seal_EN {
    /* float: right; */
    width: var(--seal_width_EN);
    height: auto;
    position: relative;
}
img#seal_CN {
    /* float: center; */
    width: var(--seal_width_CN);
    height: auto;
    position: relative;
}