@charset "UTF-8";
@font-face {
    font-family:"ui";
    src:
    local("霞鹜文楷"),
    local("LXGW WenKai"),
    url(../fonts/LXGWWenKai-Regular.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family:"title";
    src:
    local("黄令东齐伋复刻体"),
    local("QIJIC"),
    url(../fonts/qiji-combo.woff) format('woff');
    font-display: swap;
    size-adjust: 125%;
}
@font-face {
    font-family:"body";
    src:local("方正宋刻本秀楷_GBK"), local("FZSongKeBenXiuKai-R-GBK"), local("FZSongKeBenXiuKaiJF"),
    url(../fonts/FZSKBXKK.woff2) format('woff2');
    font-display: swap;
}
/* @font-face {
    font-family:"康熙字典體傳承版";
    src:local("康熙字典體傳承版"),
    url(../fonts/KX_47043_14.woff) format('woff');
    font-display: swap;
} */
/* @font-face {
    font-family:"方正宋刻本秀楷_GBK";
    src:local("方正宋刻本秀楷_GBK"),
    url(../fonts/FZSKBXKK.woff2) format('woff2');
    font-display: swap;
} */



:root {
    /* UI variables */
    --ui_Mode: light;
    --ui_LANG: CN;
    --ui_title_CN: 易笺;
    --ui_title_EN: SimpleTextReader;
    --ui_dropZoneText_CN: txt;
    --ui_dropZoneText_EN: txt;
    --ui_readingProgress_CN: 阅读进度：;
    --ui_readingProgress_EN: Progress：;   /* Have to use chinese colon and replace it later */
    --ui_contentWidth: 72;
    --ui_windowLeftRightMargin: 6;
    --ui_gapWidth: 3;
    --ui_numPaginationItems: 9;
    --ui_contentMarginLeft: 0;
    --ui_tocWidth: 0;
    --ui_tocHeight: 50;
    --ui_paginationCenter: 0;
    --ui_anchorTargetBefore: 1.6em;
    --ui_dropZoneImgSize: 13em;
    --ui_loadingImgSize: 380px;
    --ui_footnoteImgSize: 12px;

    /* Passage variables */
    --p_lineHeight: 1.5em;
    --p_fontSize: 1.4em;
    --h1_lineHeight: 1.6em;
    --h1_margin: 2.5em;
    --h2_lineHeight: 1.6em;
    --h2_margin: 1.6em;
    --h3_lineHeight: 1.6em;
    --h3_margin: 1.6em;
    --h4_lineHeight: 1.6em;
    --h4_margin: 1.6em;
    --h5_lineHeight: 1.6em;
    --h5_margin: 1.6em;
    --h6_lineHeight: 1.6em;
    --h6_margin: 1.6em;
    --seal_width_CN: 250px;
    --seal_width_EN: 250px;

    /* Color variables */
    --mainColor: #6096bb;
    --mainColor_focused: #2f5086;

    --mainColor_filter: invert(52%) sepia(93%) saturate(187%) hue-rotate(166deg) brightness(92%) contrast(82%);
    --mainColor_focused_filter: invert(22%) sepia(47%) saturate(1327%) hue-rotate(180deg) brightness(91%) contrast(80%);

    /* --bgColor: #fdf5e8; */
    --bgColor: #fdf3df;
    --borderColor: lightgray;
    --shadowColor: rgba(0, 0, 0, 0.12);
    --paginationFontColor: black;
    --paginationActiveFontColor: var(--bgColor);

    --fontInfoColor: gray;
    --fontColor: black;

    /* Font variables */
    --fontFamily_title_CN: title, ui;
    --fontFamily_body_CN: body, ui;
    --fontFamily_title_EN: ui;
    --fontFamily_body_EN: ui;
    --fontFamily_ui: ui, Arial, Helvetica, sans-serif;

    --fontFamily_title: var(--fontFamily_title_CN);
    --fontFamily_body: var(--fontFamily_body_CN);

    /* Dark mode variables */
    --darkMode_init_animation: all 0s ease;
    --darkMode_default_animation: all 0.5s ease;
    --darkMode_animation: var(--darkMode_init_animation);
    --darkMode_color: var(--mainColor);
    --lightMode_color: lightgray;
}

[data-theme="dark"] {
    --ui_Mode: dark;
    --mainColor: #274c77;
    --mainColor_focused: #6096bb;
    --mainColor_filter: invert(22%) sepia(47%) saturate(1327%) hue-rotate(180deg) brightness(91%) contrast(80%);
    --mainColor_focused_filter: invert(52%) sepia(93%) saturate(187%) hue-rotate(166deg) brightness(92%) contrast(82%);
    --bgColor: #0d1018;
    --borderColor: gray;
    --shadowColor: rgba(0, 0, 0, 0.12);
    --paginationFontColor: lightgray;
    --paginationActiveFontColor: lightgray;
    --fontInfoColor: gray;
    /* --fontColor: #fdf3df; */
    --fontColor: #f2e6ce;
}