# git
.git
.git/
.gitignore
.gitmodules

# vscode
.vscode/

# kiro
.kiro/

# assets
**/assets/
**/dist/
**/manifests/
!**/manifests/PWA/
!**/manifests/PWA/*
**/debug/
**/build/
**/extension/
.vscode/
**/node_modules/
**/books/*
!**/books/
!**/books/README.md
**/books_*/
**/books-*/
**/books.*/
!**/bookshelf.js
**/README.md
**/README_EN.md
**/uploads/
**/processed_books/
**/LXGWWenKaiScreen.woff2
**/dev/

# Prisma
**/prisma/*.db
**/prisma/*.db-journal
**/prisma/migrations/*/
**/node_modules/.prisma/*
!**/prisma/schema.prisma
!**/prisma/migrations/

# docker
Dockerfile

# Ignore Mac DS_Store files
**/.DS_Store
**/.cache-*
