@charset "UTF-8";
/* Settings menu new style with tabbed interface and overlay */
.settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    /* animation */
    opacity: 0;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    pointer-events: none;
}
.settings-overlay.show {
    animation: fadeIn 0.1s ease-in-out forwards;
    pointer-events: auto;
}
.settings-overlay.hide {
    animation: fadeOut 0.15s ease-in-out forwards;
}
.settings-overlay.no-animation.show {
    opacity: 1 !important;
    animation: none !important;
    transition: none !important;
}
.settings-overlay.no-animation.hide {
    opacity: 0 !important;
    animation: none !important;
    transition: none !important;
}
.settings-modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: min(700px, 90vw);
    height: min(525px, 85vh);
    max-width: 90vw;
    max-height: 85vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    z-index: 1004;
    /* animation */
    opacity: 0;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;
}
.settings-modal.show {
    transform: translate(-50%, -50%) scale(1);
    animation: fadeIn 0.1s ease-in-out forwards;
    pointer-events: auto;
}
.settings-modal.hide {
    transform: translate(-50%, -50%) scale(0.5);
    animation: fadeOut 0.15s ease-in-out forwards;
}
.settings-modal.no-animation.show {
    opacity: 1 !important;
    animation: none !important;
    transform: translate(-50%, -50%) scale(1) !important;
}
.settings-modal.no-animation.hide {
    opacity: 0 !important;
    animation: none !important;
    transform: translate(-50%, -50%) scale(0.5) !important;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.settings-container {
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: auto;
    height: 100%;
    z-index: 10003;
    position: relative;
}
.settings-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
    /* padding-top: 20px; */
    padding-left: 30px;
    overflow-y: auto;
    overflow-x: auto;
    overscroll-behavior: contain;
    z-index: 10004;
    position: relative;
}
.settings-tabs {
    display: flex;
    flex-direction: column; /* Vertical tabs */
    width: 150px;
    /* border-right: 1px dashed var(--borderColor); */
    flex-shrink: 0;
    padding-right: 30px;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--mainColor_active) transparent;
    overscroll-behavior: contain;
    padding: 0 15px 30px 15px;
}
.settings-tabs::-webkit-scrollbar {
    width: var(--ui_scrollBarWidth) !important;
    background: var(--bgColor) !important;
    transition: var(--darkMode_animation);
}
.settings-tabs::-webkit-scrollbar-thumb {
    border: 4px solid var(--bgColor);
    background-clip: padding-box;
    border-radius: 10px;
    background: var(--fontInfoColor) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* transition: var(--darkMode_animation); */
}
.tab-button {
    margin: 10px 0 10px 0;
    padding: 10px 15px;
    cursor: pointer;
    /* font-weight: bold; */
    color: var(--fontInfoColor);
    font-family: var(--fontFamily_ui);
    font-size: var(--ui_settingMenuFontSize);
    text-align: center;
    border: none;
    background: none;
    outline: none;
    width: 100%;
}
.tab-button.active {
    /* border-bottom: 3px solid var(--mainColor_active); */
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    /* font-weight: bold; */
    border-radius: 8px;
}
.tab-button:hover {
    color: var(--bgColor);
    background-color: var(--mainColor_inactive);
    /* font-weight: bold; */
    border-radius: 8px;
}
.tab-content {
    display: none;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
.tab-content.active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--mainColor_active) transparent;
    z-index: 10005;
    padding: 0 0 30px 0;
    width: 100%;
    position: relative;
}
.tab-content.active::-webkit-scrollbar {
    width: var(--ui_scrollBarWidth) !important;
    background: var(--bgColor) !important;
    transition: var(--darkMode_animation);
}
.tab-content.active::-webkit-scrollbar-thumb {
    border: 4px solid var(--bgColor);
    background-clip: padding-box;
    border-radius: 10px;
    background: var(--fontInfoColor) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* transition: var(--darkMode_animation); */
}

/* Settings menu */
#settings-menu {
    font-size: var(--ui_settingMenuFontSize);
    position: fixed;
    right: calc(var(--ui_btnGap) + var(--ui_scrollBarWidth) + var(--ui_btnOffset));
    bottom: calc(2 * (var(--ui_btnGap) + var(--ui_btnSize)));
    z-index: 1004;
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    padding: 0 30px 0 30px;
    box-shadow: 0 0 5px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--shadowColor);
    font-family: var(--fontFamily_ui) !important;
    color: var(--mainColor_active) !important;
    /* visibility: hidden; */
    contain: content;

    /* Add scroll related styles */
    max-height: 85vh;
    max-width: 90vw;
    /* overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--mainColor_active) transparent; */
}
.settingItem-wrapper {
    padding: 10px 0px;
    overflow-y: unset !important;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    position: relative;
    overflow-y: unset !important;
}
.settingItem-wrapper:first-child {
    /* margin-top: 0; */
    margin-top: 20px;
    padding-top: 0;
}
.settingItem-span {
    display: inline-block;
    width: var(--ui_settingMenuWidth);
    cursor: default;
}
.settingItem-span .tooltip-icon {
    display: inline-block;
    font-size: 1rem;
    color: var(--fontInfoColor);
    cursor: pointer;
    position: relative;
    margin-left: 6px;
    vertical-align: baseline;
}
.settingItem-span .tooltip {
    font-size: 0.9rem;
    position: absolute;
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 0 5px var(--shadowColor);
    -webkit-box-shadow: var(--shadowColor) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--shadowColor);
    font-family: var(--fontFamily_ui) !important;
    color: var(--fontInfoColor) !important;
    overflow: unset;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-width: 75%;
    z-index: 5;
}
.settingItem-span .tooltip-icon:hover + .tooltip {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}
.settingItem-divider {
    width: var(--ui_settingMenuSeparatorWidth);
    border: none;
    border-top: 1px dashed var(--borderColor);
    margin: 20px 0;
    align-self: center;
}
.settingItem-separator {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: var(--ui_settingMenuSeparatorWidth);
    margin: 0;
    padding: 20px 0;
    position: relative;
}
.settingItem-separator-span {
    font-size: 0.8rem;
    color: var(--fontInfoColor);
    padding: 0 20px;
    background-color: var(--bgColor);
    align-self: center;
}
.settingItem-separator::before,
.settingItem-separator::after {
    content: "";
    flex-grow: 1;
    border-top: 1px dashed var(--borderColor);
}
.settingItem-separator::before {
    margin-right: 10px;
}
.settingItem-separator::after {
    margin-left: 10px;
}
.settingItem-span[id^="settingLabel-"] {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    column-gap: 0;
}
.settingItem-span[id^="settingLabel-"]::before {
    grid-column: 1;
    text-align: left;
}
.settingItem-span[id^="settingLabel-"]::after {
    grid-column: 2;
    color: var(--fontInfoColor);
    text-align: left;
    min-width: 3em;
    margin-left: 1em;
}
.settingItem-span[id^="settingLabel-"]::after:empty {
    display: none;
}
.color-picker {
    background-color: var(--bgColor) !important;
    border: 1px solid var(--borderColor) !important;
    border-radius: 8px !important;
    box-shadow: 0 0 5px var(--shadowColor) !important;
    -webkit-box-shadow: var(--shadowColor) 0 0 5px !important;
    -moz-box-shadow: 0 0 5px var(--shadowColor) !important;
}
.color-picker__alpha.range {
    /* disable color picker's alpha channel input */
    display: none !important;
}
.myColor {
    width: var(--ui_settingContentWidth);
    height: var(--ui_settingContentHeight);
    border: 1px solid var(--borderColor) !important;
}
.myColor:hover {
    box-shadow: 0 0 1px 1px var(--shadowColor) !important;
}
input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
    border: 1px solid var(--borderColor) !important;
    border-radius: 5px !important;
    /* border: none;
    border-color: transparent !important; */
    padding: 0 !important;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    border: 1px solid var(--borderColor) !important;
    border-radius: 5px !important;
    /* border: none;
    border-color: transparent !important; */
    padding: 0 !important;
}
input[type="color"] {
    background-color: var(--bgColor) !important;
    width: var(--ui_settingContentWidth);
    height: var(--ui_settingContentHeight);
    border: none;
    border-color: transparent !important;
    padding: 0 !important;
}
input[type="color"]:hover,
input[type="color"]:focus {
    /* box-shadow: 0 0 1px 1px var(--shadowColor) !important; */
    cursor: grab;
    outline: none;
}
input[type="color"]:not(:hover) {
    cursor: initial;
}

/* Dropdown selector */
.select {
    overflow-y: unset;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* font-size: var(--ui_settingMenuFontSize); */
    color: var(--mainColor_active);
    width: var(--ui_settingContentWidth);
    height: calc(var(--ui_settingContentHeight) * 1.2);
    /* z-index: 20006; */
}
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}
.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bgColor);
    transition: all 0.2s ease-in;
    /* vertical-align: top; */
    /* font-size: var(--ui_settingMenuFontSize); */
    display: flex;
    align-items: center;
    padding-right: 1.1em;
}
.select-styled span {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 0.4em solid transparent;
    border-color: var(--mainColor_active) transparent transparent transparent;
    position: absolute;
    top: 65%;
    right: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.15s ease;
}
.select-styled:hover {
    /* background-color: color-mix(in srgb, var(--bgColor), #000 0%); */
    background-color: var(--bgColor);
}
.select-styled:active,
.select-styled.active {
    /* background-color: color-mix(in srgb, var(--bgColor), #000 0%); */
    background-color: var(--bgColor);
}
.select-styled:active:after,
.select-styled.active:after {
    top: 35%;
    border-color: transparent transparent var(--mainColor_active) transparent;
    transition: all 0.15s ease;
}
.select-options {
    display: none;
    position: fixed;
    z-index: 20008;
    margin: 0;
    /* margin-top: 30px; */
    padding: 0;
    list-style: none;
    /* background-color: color-mix(in srgb, var(--bgColor), #000 0%); */
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 5px var(--shadowColor);
    border-radius: 5px;
    -webkit-box-shadow: var(--shadowColor) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--shadowColor);
    max-height: 175px; /* REQUIRED: maximum height of the dropdown menu */
    min-height: 36px; /* REQUIRED: minimum height of the dropdown menu */
    overflow-y: auto;
    pointer-events: auto !important;
    /* top: 120%; */
    /* right: 0; */
    /* left: 0; */
    width: calc(var(--ui_settingContentWidth) * 0.98);
}
.select-options.dropup {
    /* top: auto; */
    /* bottom: 120%; */
    /* margin-top: 0; */
    /* margin-bottom: 5px; */
    margin: 0;
}
.select-options li {
    margin: 0;
    /* padding: 10px 0; */
    padding: 8px 10px;
    /* text-indent: 15px; */
    /* background-color: color-mix(in srgb, var(--bgColor), #000 0%); */
    background-color: var(--bgColor);
    transition: all 0.15s ease-in;
    border-radius: 5px;
    /* text-align: center; */
    font-size: 0.95rem;
}
.select-options li:hover:not(.optgroup-label) {
    color: var(--bgColor);
    background: var(--mainColor_inactive);
}
.select-options li.is-selected:not(.optgroup-label) {
    color: var(--bgColor);
    background: var(--mainColor_active);
}
.select-options li[rel="hide"] {
    display: none;
}
.select-options li[data-status="loading"] {
    color: var(--fontInfoColor) !important;
    background: none !important;

    &:hover,
    &:active {
        background: var(--fontInfoColor) !important;
        color: var(--bgColor) !important;
    }
}
.select-options li[data-status="loading"]:hover .option-action.loading-button,
.select-options li[data-status="loading"]:active .option-action.loading-button {
    stroke: var(--bgColor) !important;
}
/* Style the optgroup labels differently */
.optgroup-label {
    color: var(--fontInfoColor);
    font-size: 0.8rem !important;
    padding: 0;
    margin: 0;
    background: none !important;
    /* font-weight: bold; */
    /* padding: 8px 15px; */
    /* background-color: #f0f0f0; */
    /* margin-top: 5px; */

    pointer-events: auto;
    user-select: none;
    cursor: default;

    &:hover,
    &:active {
        background: none !important;
        color: var(--fontInfoColor) !important;
    }
}
.optgroup-option {
    /* padding-left: 20px; */
    cursor: pointer;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    pointer-events: auto;
    position: relative;
    z-index: 0;
}
.option-text {
    flex: 1;
    pointer-events: none;
}
.option-actions {
    display: flex;
    align-items: center;
    margin-left: var(--ui_btnGap);
    margin-right: 10px;
    position: relative;
    pointer-events: none;
}
.option-action.loading-button,
.option-action.delete-button {
    /* fill: var(--fontInfoColor); */
    stroke: var(--fontInfoColor);
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.option-action.delete-button {
    cursor: pointer;
    pointer-events: auto;
}
.option-action.loading-button {
    cursor: default;
    pointer-events: none;
    user-select: none;
}
.option-action.loading-button:hover,
.option-action.delete-button:hover {
    stroke: var(--mainColor_active);
}
.select-options li:hover:not(.optgroup-label) .option-action.loading-button,
.select-options li.is-selected:not(.optgroup-label) .option-action.loading-button .select-options,
li:hover:not(.optgroup-label) .option-action.delete-button,
.select-options li.is-selected:not(.optgroup-label) .option-action.delete-button {
    stroke: var(--fontInfoColor);
}
.select-options li:hover:not(.optgroup-label) .option-action.loading-button:hover,
.select-options li.is-selected:not(.optgroup-label) .option-action.loading-button:hover .select-options,
li:hover:not(.optgroup-label) .option-action.delete-button:hover,
.select-options li.is-selected:not(.optgroup-label) .option-action.delete-button:hover {
    stroke: var(--bgColor);
}

/* About tab */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--fontFamily_ui) !important;
    max-width: 500px;
    flex-grow: 1;
    /* justify-content: center; */
    overflow: visible;
}
.about-icon {
    width: 110px;
    height: auto;
    margin: 15px 0;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
}
.about-title {
    font-weight: bold;
    font-size: 1.9rem;
    font-family: var(--fontFamily_ui) !important;
    margin: 5px 0;
}
.about-version {
    margin: 5px 0;
    font-size: 0.9rem;
    color: var(--fontInfoColor);
    font-family: var(--fontFamily_ui) !important;
}
.about-divider {
    width: 80%;
    border: none;
    border-top: 1px dashed var(--borderColor);
    margin: 12px 0;
}
.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 450px;
}
.about-text {
    font-size: 1rem;
    color: var(--fontInfoColor);
    margin: 4px 0;
    font-family: var(--fontFamily_ui) !important;

    display: flex;
    align-items: center;
    gap: 8px;
}
.about-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}
.about-btn {
    display: flex;
    align-items: center;
    border: 1px dashed transparent;
    border-radius: 8px;
    color: var(--fontInfoColor);
    background: var(--bgColor);
    cursor: pointer;
    white-space: nowrap;
    font-family: var(--fontFamily_ui);
    font-size: 1rem;
    gap: 3px;
    padding: 0.3rem 0.5rem;
}
.about-btn:hover {
    background: var(--btnHoverColor);
    svg {
        fill: var(--mainColor_inactive);
    }
    a {
        color: var(--mainColor_inactive);
    }
}
.about-btn:active {
    color: var(--mainColor_inactive);
}
.about-btn svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 5px;
    fill: var(--mainColor_active);
}
.about-btn-separator {
    margin: 0 2px;
    opacity: 0.5;
}
.about-link {
    color: var(--mainColor_active);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}
#settingLabel-about_version_date {
    margin: 0;
    font-size: 0.9rem;
    font-family: var(--fontFamily_ui) !important;
}
#settingLabel-about_version_date:hover {
    color: var(--mainColor_inactive);
}

/* Settings menu top row */
#settings-top-row {
    position: relative;
    top: 0;
    padding-top: 30px;
    z-index: 10003;
}

/* Settings menu bottom row */
#settings-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    background-color: var(--bgColor);
    padding-top: 10px;
    border-top: 1px dashed var(--borderColor);
    /* z-index: 10003; */
    left: 0;
    right: 0;
    padding: 30px 15px;
}
#settings-version-display {
    font-size: 0.85rem;
    text-align: right;
    color: var(--fontInfoColor);
    cursor: pointer;
}
#settings-version-display:hover {
    color: var(--mainColor_inactive);
}

/* Reset button */
#settings-reset-btn {
    font-size: 0.8em;
    font-family: var(--fontFamily_ui) !important;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    border: 1px solid var(--mainColor_active);
    border-radius: 8px;
    padding: 5px 20px;
    cursor: pointer;
}
#settings-reset-btn:hover {
    background-color: var(--mainColor_inactive);
    border: 1px solid var(--mainColor_inactive);
}

/* Settings dialog */
dialog {
    border-radius: 8px;
    padding: 0px;
    font-family: ui;
    font-size: 1.2rem;
    background-color: var(--bgColor);
    color: var(--mainColor_active);
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    box-shadow: 0 0 5px var(--mainColor_inactive);
    -webkit-box-shadow: var(--mainColor_inactive) 0 0 5px;
    -moz-box-shadow: 0 0 5px var(--mainColor_inactive);
    border: 0px;
}
.dlg-cap {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-family: ui;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid var(--borderColor);
}
.dlg-close {
    display: inline-block;
    position: absolute;
    top: 0.6rem;
    right: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    border-radius: 5px;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.4rem;
}
.dlg-foot {
    padding: 1rem 1rem;
    border-top: 2px solid var(--borderColor);
}
.dlg-foot button {
    font-family: ui;
    padding: 2px 10px;
    border: 1px solid var(--mainColor_active);
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    cursor: pointer;
}
.dlg-body {
    display: block;
    flex: 1;
    margin: 0.2rem 1rem 1rem 1rem;
    /* overflow-y: scroll; */
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
}
.dlg-body input,
.dlg-body select {
    margin: 1px;
    border: 1px solid var(--mainColor_active);
    font-family: ui;
    font-size: 1.2rem;
    color: var(--mainColor_active);
    background-color: var(--bgColor);
}
.dlg-body input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}
input:invalid {
    background-color: pink;
}
#settingDlg .sub-cap {
    color: var(--bgColor);
    background-color: var(--mainColor_active);
    margin: 1rem 0;
    text-align: center;
}
#settingDlg .setting-group {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: max-content 1fr;
}
#settingDlg .setting-group .row {
    grid-column: 1 / -1;
}
/* #settingDlg .setting-group-UI {
    grid-template-columns: repeat(2, max-content 1fr);
} */
dialog::backdrop {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
